# Modeling

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

# Importing Data

In [2]:
user_ratings_s = pd.read_csv('/Users/spence/Documents/GitHub/Movie Recommender System/Original Data/The Movies Dataset/ratings_small.csv')
ratings_link = pd.read_csv('/Users/spence/Documents/GitHub/Movie Recommender System/Original Data/The Movies Dataset/links_small.csv')

text_df = pd.read_csv('/Users/spence/Documents/GitHub/Movie Recommender System/Saved Datasets/movie_cats.csv', index_col=0)

# merged_df = pd.read_csv('/Users/spence/Documents/GitHub/Movie Recommender System/Saved Datasets/df_merged.csv', index_col=0)

In [4]:
df_reduce = pd.read_csv('/Users/spence/Documents/GitHub/Movie Recommender System/Saved Datasets/df_redux.csv', index_col=0)

df_reduce2 = pd.read_csv('/Users/spence/Documents/GitHub/Movie Recommender System/Saved Datasets/df_merged.csv', index_col=0)

# Pt.1  Clustering

In [5]:
from sklearn.cluster import KMeans, DBSCAN

In [6]:
# original very wide data set 

# df = merged_df.copy()
# df.drop(['id'],axis=1,inplace=True)

In [7]:
# created a 'narrower' dataset with fewer features to make 'unsupervised' clustering more managable  

df1 = df_reduce.copy()
df1.drop(['id'],axis=1,inplace=True)

In [9]:
# created a final data set that was inbetween the previous two in terms of wideness 

df2 = df_reduce2.copy()
df2.drop(['id'], axis=1, inplace=True)

Convert dataframes to Numpy arrays

In [14]:
# create numpy array 

#small data set
df_numpy1 = df1.to_numpy()

#medium dataset
df_numpy2 = df2.to_numpy()

In [15]:
# using the fit and predict methods to generate clusters

km = KMeans(n_clusters=300)
X_clustered=km.fit_predict(df_numpy2)

db = DBSCAN(eps=0.01, algorithm='auto')
X_clustered2 = db.fit_predict(df_numpy2)

In [16]:
# importing movie titles as a reference so I can observe what movies got grouped by seeing their title.

titles_df = pd.read_csv('/Users/spence/Documents/GitHub/Movie Recommender System/Saved Datasets/movie_cats.csv', index_col=0)
titles_df.drop(['text_info'], axis=1,inplace=True)

In [17]:
# creating new columns containing cluster assigment in the DataFrame 

# column for KMeans cluster
df_reduce2["cluster"] = X_clustered

#column for DBSCAN cluster
df_reduce2["cluster2"] = X_clustered2

In [18]:
# merging the dataframe with titles and cluster assignments 

df_together = pd.merge(titles_df,df_reduce2, how="right", on=['id'])

Examining datasets and how the clustering worked

In [19]:
df_together[df_together['cluster']  == 203].head(3)

,id,title,John Wayne,Jackie Chan,Michael Caine,Robert De Niro,Gérard Depardieu,Christopher Lee,Nicolas Cage,Bette Davis,...,budget,revenue,vote_average,vote_count,popularity,Charlie Chaplin,Clint Eastwood,Buster Keaton,cluster,cluster2
88,2086,Nick of Time,0,0,0,0,0,0,0,0,...,0.222975,-0.048673,0.248473,0.160130,0.648956,0,0,0,203,-1
224,10531,Death and the Maiden,0,0,0,0,0,0,0,0,...,-0.243594,-0.175109,0.770459,-0.038338,0.422483,0,0,0,203,-1
225,11929,Dolores Claiborne,0,0,0,0,0,0,0,0,...,-0.243594,-0.175109,0.770459,0.145954,0.475322,0,0,0,203,-1

In [20]:
df_together[(df_together['cluster']  >= 223) & (df_together['Woody Allen']  == 1) ]

,id,title,John Wayne,Jackie Chan,Michael Caine,Robert De Niro,Gérard Depardieu,Christopher Lee,Nicolas Cage,Bette Davis,...,budget,revenue,vote_average,vote_count,popularity,Charlie Chaplin,Clint Eastwood,Buster Keaton,cluster,cluster2
51,11448,Mighty Aphrodite,0,0,0,0,0,0,0,0,...,0.613087,-0.071490,0.561665,0.068997,2.151199,0,0,0,239,-1
342,11382,Bullets Over Broadway,0,0,0,0,0,0,0,0,...,-0.243594,-0.175109,0.718261,0.038619,0.462107,0,0,0,239,-1
486,10440,Manhattan Murder Mystery,0,0,0,0,0,0,0,0,...,0.527419,-0.000572,0.770459,0.117601,0.995997,0,0,0,239,-1
1023,9716,Everyone Says I Love You,0,0,0,0,0,0,0,0,...,0.898648,-0.175109,0.457267,0.077098,1.113797,0,0,0,283,-1
1181,703,Annie Hall,0,0,0,0,0,0,0,0,...,-0.015146,0.416469,1.135850,1.889639,2.524149,0,0,0,276,-1
1194,696,Manhattan,0,0,0,0,0,0,0,0,...,-0.243594,0.442689,1.135850,0.990456,1.512431,0,0,0,276,-1
1945,10849,The Purple Rose of Cairo,0,0,0,0,0,0,0,0,...,0.613087,-0.010690,0.874857,0.192533,0.530296,0,0,0,267,-1
2165,11337,Stardust Memories,0,0,0,0,0,0,0,0,...,0.327527,-0.014438,0.666062,-0.030237,0.461718,0,0,0,233,-1
2621,30890,Radio Days,0,0,0,0,0,0,0,0,...,0.670200,-0.175109,0.718261,0.040644,0.970022,0,0,0,267,-1
2843,11562,Crimes and Misdemeanors,0,0,0,0,0,0,0,0,...,0.841536,0.107209,0.927055,0.182407,0.615213,0,0,0,267,-1
3674,15867,Interiors,0,0,0,0,0,0,0,0,...,-0.243594,-0.175109,0.561665,-0.038338,0.261751,0,0,0,278,-1
4259,19200,Shadows and Fog,0,0,0,0,0,0,0,0,...,0.555975,-0.132800,0.718261,-0.062640,0.952612,0,0,0,239,-1
4477,9686,New York Stories,0,0,0,0,0,0,0,0,...,0.613087,-0.175109,0.300671,-0.093018,1.120083,0,0,0,267,-1
5935,8288,A Midsummer Night's Sex Comedy,0,0,0,0,0,0,0,0,...,-0.243594,-0.175109,0.457267,-0.036313,1.373331,0,0,0,267,-1
6804,5143,Hannah and Her Sisters,0,0,1,0,0,0,0,0,...,0.121923,0.444811,1.031453,0.228987,1.102117,0,0,0,267,-1
7485,11030,Zelig,0,0,0,0,0,0,0,0,...,-0.243594,0.007363,0.927055,0.198609,0.498442,0,0,0,267,-1
7513,12762,Broadway Danny Rose,0,0,0,0,0,0,0,0,...,0.213303,-0.011167,0.822658,-0.014036,0.490224,0,0,0,267,-1

It appears as though DBscan created one super large cluster of 44700k films(nearly all)) and several smaller ones.

Kmeans seems to have worked better and is more interpretable. As I increase the cluster size the clusters get smaller and contain more similar films. 

300 clusters seems to be an appropriate amount for KMeans.

Recommender function based on KMeans clustering!

In [26]:
def watchlist(movie):
    idx = df_together[df_together['title'] == movie].index[0]
    cluster = df_together.loc[idx]['cluster']
    sames = df_together[df_together['cluster']== cluster]
    lst = list(sames['title'][0:])
    for i in lst:
        print( i )

In [27]:
watchlist('Inception')

The Matrix
Iron Man
Inception
The Hunger Games
Django Unchained
Interstellar
Guardians of the Galaxy
Mad Max: Fury Road

Decent recommendations, but there are some curveballs on there. Interstellar is another Christopher Nolan film and Guardians of the Galaxy is also about space. There are some other adventure type films which makes sense.

In [28]:
watchlist('Spider-Man 3')

Pirates of the Caribbean: Dead Man's Chest
Spider-Man 3
Harry Potter and the Half-Blood Prince
Alice in Wonderland
Toy Story 3
Harry Potter and the Deathly Hallows: Part 1
Transformers: Dark of the Moon
The Hobbit: The Desolation of Smaug
Frozen
Transformers: Age of Extinction
The Hobbit: The Battle of the Five Armies
Spectre
Zootopia
Finding Dory
Rogue One: A Star Wars Story
The Fate of the Furious

Not a bad recommendation for 'Spider Man 3'. They are all films that would appeal to kids or folks who enjoy 'fantasy' films. There is also a theme of adevnture and action happening on this list.

# Pt.2 Collaborative Filtering

In [29]:
# use the Surpirse library to perform cross-validation 

from surprise import Reader, Dataset, SVD, KNNWithMeans 
from surprise.model_selection import cross_validate
from surprise.model_selection import GridSearchCV

In [30]:
# merge datasets so that our 'movie id' from ratings can sync up with our movie 'id' column in our other datasets
user_ratings = pd.merge(user_ratings_s, ratings_link, how='left', on=['movieId'])

user_ratings.drop(['movieId', 'timestamp', 'imdbId'], axis=1, inplace=True )

user_ratings.rename({'tmdbId':'id'}, axis=1, inplace=True)

user_ratings.dropna(how='any', axis=0, inplace=True)

user_ratings.id = user_ratings.id.astype(int)

user_ratings = user_ratings[['userId', 'id', 'rating']]

In [31]:
# instantiate the Reader function
reader = Reader()

# load our Dataset into the variable 'data' via Surprises 'Dataset.load_from_df' function 

data = Dataset.load_from_df(user_ratings[['userId', 'id', 'rating']], reader)

Now we will use Grid Search Cross Validation to tune our hyperparameters for our models.

In [32]:
# generate the best hyper parameters using Grid Search CV 

param_grid = {'n_epochs': [5, 10], 'lr_all': [0.002, 0.005],
              'reg_all': [0.4, 0.6]}
              
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=3)

gs.fit(data)

# best RMSE score
print(gs.best_score['rmse'])

# combination of parameters that gave the best RMSE score
print(gs.best_params['rmse'])

0.9145739525556175
{'n_epochs': 10, 'lr_all': 0.005, 'reg_all': 0.4}

In [ ]:
# generate the best hyper parameters using Grid Search CV 

sim_options = {
    "name": ["msd", "cosine"],
    "min_support": [3, 4, 5],
    "user_based": [False, True],
}

param_grid = {"sim_options": sim_options}

gs_ = GridSearchCV(KNNWithMeans, param_grid, measures=["rmse", "mae"], cv=3)

gs_.fit(data)

In [34]:
# best RMSE score
print(gs_.best_score["rmse"])
# combination of parameters that gave the best RMSE score
print(gs_.best_params["rmse"])

0.9264957255757659
{'sim_options': {'name': 'msd', 'min_support': 3, 'user_based': True}}

Now that we have the optimal hyperparameters we will fit the algorithm to our dataset and predict the score a User will give a film.

In [35]:
# train and fit our SVD algorithm using the optimal hyperparameters as discovered above 

algo = gs.best_estimator['rmse']

algo.fit(data.build_full_trainset())

In [36]:
# predict with SVD
pred = algo.predict(61, 58)

print(f'The predicted rating that User {pred[0]} would give film {pred[1]} is {round(pred[3], 2)} ')

The predicted rating that User 61 would give film 58 is 3.35

In [37]:
# train and fit our KNNWithMeans algorithm using the optimal hyperparameters as discovered above 

algori = gs_.best_estimator['rmse']

algori.fit(data.build_full_trainset())

Computing the msd similarity matrix...
Done computing similarity matrix.

In [38]:
# predict with KNN
pred = algori.predict(61, 58)

print(f'The predicted rating that User {pred[0]} would give film {pred[1]} is {round(pred[3], 2)} ')

The predicted rating that User 61 would give film 58 is 3.09

The actual rating that User 61 gave film 58 is 3.5, so SVD outperformed KNN, but they are both in the ballpark.

In [39]:
user_ratings[user_ratings['id'] == 58].head()

       userId  id  rating
2192       15  58     2.0
4732       23  58     2.5
9330       61  58     3.5
11309      73  58     3.5
12349      77  58     4.0

# Pt. 3 Cosign Similarity

In [40]:
text_df.head(5)

,id,title,text_info
0,862,Toy Story,jealousi toy boy friendship friend rivalri boy...
1,8844,Jumanji,boardgam disappear basedonchildren'sbook newho...
2,15602,Grumpier Old Men,fish bestfriend duringcreditssting oldmen walt...
3,31357,Waiting to Exhale,basedonnovel interracialrelationship singlemot...
4,11862,Father of the Bride Part II,babi midlifecrisi confid age daughter motherda...

In [41]:
# import necessary packages 

from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

In [42]:
# setting our Vectorization parameters 
count_vect = CountVectorizer(ngram_range=(1, 2), stop_words='english')


# fitting our vectorizer to the 'text_info' for each film 
count_matrix = count_vect.fit_transform(text_df['text_info'].values.astype('U'))

In [43]:
# looking at our count matrix in a dataframe. Essentially every word in our text dataframe has been dummy encoded, resulting in a whopping 439716 columns! 

pd.DataFrame(count_matrix.toarray(),columns=count_vect.get_feature_names())

,01distribution,02entertainment,077,077 kenclark,100,100 halal,100 syntheticfilms,1000volt,100bares,100bares haddockfilmss,...,이디오플랜,인벤트디,조병만,조병만 강계열,진모영,진모영 romance,진모영 진모영,타임스토리그룹,팔레트픽처스,프로덕션m
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44979,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44980,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44981,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44982,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
44983,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
# calculating the cosign similarity of the matrix generated from vectorization 

cos_sim = cosine_similarity(count_matrix)

Now let's write a function that parses through the dataframe and generates recommendations based on any given film!

In [45]:
# creating an index column in the dataframe 
idx_assign = text_df.reset_index() 

# define function! 

def watchme(movie):
    movie_idx = idx_assign[idx_assign['title'] == movie].index[0]
    sim_array = cos_sim[movie_idx]
    array_lst = list(enumerate(sim_array))
    sort_lst = sorted(array_lst, reverse=True, key = lambda x: x[1])
    top_recs = sort_lst[1:11]
    for i in top_recs:
        print(idx_assign.loc[i[0]].title)

In [46]:
watchme('Interstellar')

Inception
Doodlebug
The Prestige
The Dark Knight
The Dark Knight Rises
Following
Dunkirk
Batman Begins
Insomnia
Memento

In [47]:
watchme('Mallrats')

Clerks - The Flying Car
Jay and Silent Bob Strike Back
Clerks
Clerks II
Jersey Girl
Dogma
Zack and Miri Make a Porno
Chasing Amy
Cop Out
Tusk

In [48]:
watchme('Forrest Gump')

The Lift
I Wanna Hold Your Hand
Allied
Used Cars
Death Becomes Her
Cast Away
A Christmas Carol
What Lies Beneath
The Walk
Flight

These film recommendations are spectacular. It correlates films heavily by director, which I added more weight to during wrangling. Directors often shape the vibe or feeling of a film. Interstellar for example has a pretty similar energy to Inception, and The Dark Knight Rises is in there becuase it's also a Christopher Nolan film. Mememto is a great psychological thriller that fits in here as well. 

It looks like text vectorization worked better than clustering. Probably because it was able to use all of the text data available for each film. I didn't have to dummy encode and scale back on the amount of features to include.

# Pt. 4 Hybrid

Now I would like to combine the Cosign Similarity and Collaborative Filtering methods. I plan on implementing the Cosign Sim function but then ordering that list based on how the user is predicted to rate those 10 similarity recommendations. 

Since our user ratings dataset is limited I will scale down the Text-Vectored dataset so it only consists of films that are in the user ratings dataset.

In [49]:
# create a list of all the film id's that are in the user ratings dataset

unique_ids = list(user_ratings.id.unique())

len(unique_ids)

9053

In [50]:
# create reduced dataframe with only films that are in our user ratings df. 

reduce_text = text_df.loc[text_df['id'].isin(unique_ids)]

In [51]:
# see if Inception is in our new reduced frame 

reduce_text[reduce_text['title'] == 'Inception']

          id      title                                          text_info
15651  27205  Inception  lossoflov dream kidnap sleep subconsci heist r...

In [52]:
# see how many people rated Inception

user_ratings[user_ratings['id'] == 27205]

       userId     id  rating
814        11  27205     4.0
2348       15  27205     5.0
4948       26  27205     3.5
6748       38  27205     4.0
6859       40  27205     4.5
...       ...    ...     ...
95763     628  27205     3.5
95822     630  27205     3.5
98173     655  27205     2.0
98579     660  27205     4.5
99177     664  27205     5.0

[111 rows x 3 columns]

Now let's vectorize and discover the cosign similarities of our new dataset.

In [53]:
# vectorize the new data set 
count_mtx = count_vect.fit_transform(reduce_text['text_info'].values.astype('U'))

# calculating the cosign similarity of the matrix generated from vectorization 
cos_simi = cosine_similarity(count_mtx)

In [54]:
# reset indices for processing ease 

idx_ = reduce_text.reset_index() 
idx_.drop(['index'], axis=1, inplace=True)
idx_ = idx_.reset_index()

In [55]:
# write new function that produces most similar films and the predicted rating

def recommend(movie, user):
    movie_idx = idx_[idx_['title'] == movie].index[0]
    sim_array = cos_simi[movie_idx]
    array_lst = list(enumerate(sim_array))
    sort_lst = sorted(array_lst, reverse=True, key = lambda x: x[1])
    top_recs = sort_lst[1:11]
    for i in top_recs:
        film_id = idx_.loc[i[0]].id
        print(idx_.loc[i[0]].title, round(algo.predict(user, film_id)[3],2))

In [56]:
recommend('Inception', 11)

The Prestige 4.27
The Dark Knight Rises 3.97
The Dark Knight 4.29
Following 3.82
Interstellar 4.21
Insomnia 3.75
Batman Begins 4.06
Memento 4.34
Don Jon 3.86
Pacific Rim 3.72

The list above is looking good, however I would like to rank the films by the predicted rating metric, as opposed to the similarity metric..

Also, the above function assumes user 11 gave Inception a good rating to begin with. Before we go on, let's create a function that produces a list of films that a user has rated well. We'll consider a good rating to be a score of 3.5 or higher.

In [57]:
# create a ratings dataset that includes film titles 

ratings_title = pd.merge(user_ratings, reduce_text[['title', 'id']], how='left', on='id')

In [58]:
# function to produce a list of films that a given user has rated 3.5 or higher

def find_liked(user):
    user_reviews = ratings_title[(ratings_title['userId'] == user) &  (ratings_title['rating'] >= 3.5)]
    liked = list(user_reviews.title)
    for i in liked:
        print(i)

In [59]:
find_liked(11)

The Usual Suspects
The Neverending Story III: Escape from Fantasia
Pulp Fiction
Trainspotting
Kingpin
Citizen Kane
Robin Hood: Prince of Thieves
The Good, the Bad and the Ugly
The Last of the Mohicans
D2: The Mighty Ducks
SLC Punk
Step Into Liquid
The Bourne Identity
The Departed
Music and Lyrics
The Bank Job
The Informant!
Exit Through the Gift Shop
Inception
The Town
Restrepo
127 Hours
Drive
The Hunger Games
The Dark Knight Rises
Life in a Day
Skyfall
Taken 2
Life of Pi
Gravity
The Hunger Games: Catching Fire

Now that we have a list of movies we know  a user liked, we can use it as a basis for recommendation.

In [60]:
# function to rank films by how much a user is predicted to like the recommendation

def recommend_ranked(movie, user):
    movie_idx = idx_[idx_['title'] == movie].index[0]
    sim_array = cos_simi[movie_idx]
    array_lst = list(enumerate(sim_array))
    sort_lst = sorted(array_lst, reverse=True, key = lambda x: x[1])
    top_recs = sort_lst[1:11]
    top_rate = []
    for i in top_recs:
        film_id = idx_.loc[i[0]].id
        pred = algo.predict(user, film_id)[3]
        both = i[0], round(pred,2)
        top_rate.append(both)
    sort_rate = sorted(top_rate, reverse=True, key = lambda x: x[1])

    print(f'Based on your enjoyment of {movie}, we think you may like the following:')
    print('')
    for i in sort_rate:
        print(idx_.loc[i[0]].title, i[1])

According to our list of films liked, User 11 enjoyed Inception, let's recommend them some films!

In [61]:
recommend_ranked('Inception', 11)

Based on your enjoyment of Inception, we think you may like the following:

Memento 4.34
The Dark Knight 4.29
The Prestige 4.27
Interstellar 4.21
Batman Begins 4.06
The Dark Knight Rises 3.97
Don Jon 3.86
Following 3.82
Insomnia 3.75
Pacific Rim 3.72

Excellent! This recommendation list is looking great, it captures the most similar films to Inception and produces a ranking of those films based on the predicted rating this user will give them.

# Conclusion

I used clustering, collaborative filtering, and text-vector/cosign similarity to create film recommendations. 

Overall the cosign similarity felt the most thorough. Joining it with collaborative filtering created an even stronger set of recommendations.

The clustering technique produced the weakest outcome. I strongly believe this is mostly due to my lack of computing power. If I was able to generate an immensely wide dataset with every actor/director/tag then clustering would have performed better. My initial data frame that contained the top 1000 actors/directors/tags was too vast and subsequently crashed when I ran the algorithm, which is why I had to scale it back to the top 100 actors/directors/tags, resulting in a decline of feature space quality. 

Overall I am pleased with the outcome and feel confident that I could deploy this model to make real-world recommendations!